<!DOCTYPE html>
<html>
  <head>
    <title>Adopt-Dont-Shop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head><br>

  <body>
    <% flash.each do |type, message| %>
    <p><%= message %></p>
    <% end %>
    <div class="nav-bar">
      <ul>
        <p><%= link_to "Home", "/" %>
          <%= link_to "Shelters", "/shelters" %>
          <%= link_to 'Pets', "/pets" %><br>

          <% if current_user %>
            <%= link_to 'Log Out', login_path, method: :delete%> <%= current_user.username %>
          <% else %>
            <%= link_to "Sign Up", new_user_path %>
            <%= link_to "Sign In", login_path %>
          <% end %>

        </p>
      </ul>
    </div>
    <%= yield %>
  </body>
  
</html>
